/* can change background color of different parts by changing name of tag */
body {
  /* this is a css comment */
  /*sets background color */
  background-color: #2d76c4;
}

p {
  background-color: #92f7d7;
}

ul {
  background-color: #92f7d7;
  width: 350px;
}

a {
  background-color: #92f7d7;
}

button {
  background-color: #92f7d7;
  padding: 30px 50px;
  border-radius: 10px;
  font-size: 20px;
}
